*/bin
*/obj
*/Release
/.vs/config/applicationhost.config
*.AssemblyInfo.cs
*.pubxml
*.log
*.lock
*.ide
*.user
/*/*/obj/
/*/*/bin/
/*/*/*/obj/
/*/*/*/bin/
/*/*/obj/*/*/*.cs
/.vs/Anno/lut
/AnnoTrace.sln.DotSettings.user
/.vs/AnnoTrace/DesignTimeBuild
/.vs/AnnoTrace/v16
